<div class="container">
    <h2>Confirmar Cotizaciones</h2>
    <form ng-submit="guardar()">
        <div class="form-group">
            <label for="fechaCotizacion">Fecha Cotizacion</label>
            <input type="text" class="form-control" moment-picker="fechaCotizacion" ng-model="fechaCotizacion" format="DD/MM/YYYY" id="fechaCotizacion" required aria-describedby="fechaCotizacionHelp">
            <small id="fechaCotizacionHelp" class="form-text text-muted">Obligatorio.</small>
        </div>
        <div class="form-group">
            <label for="formaPago">Forma de Pago</label>
            <select id="formaPago" class="form-control" aria-describedby="formaPagoHelp" ng-model="formaPago" required>
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Debito">Debito</option>
            </select>
            <small id="formaPagoHelp" class="form-text text-muted">Obligatorio.</small>
        </div>
        <div class="form-group">
            <label for="numeroPoliza">Número de Poliza</label>
            <input type="text" class="form-control" id="numeroPoliza" aria-describedby="numeroPolizaHelp" required ng-model="numeroPoliza" readonly>
            <small id="numeroPolizaHelp" class="form-text text-muted">Obligatorio.</small>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="activa">
            <label class="form-check-label" for="activa">Activa</label>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
        </div>
    </form>
</div>
